sudo: false
dist: trusty

language: node_js

node_js:
  - 6
  - 7
  - 8
  - 9
  - 10

cache:
  yarn: true
  directories:
    - node_modules

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.7.0
  - export PATH=$HOME/.yarn/bin:$PATH

before_script:
  - yarn install

script:
  - yarn run build
